<a id="navbar_plugin_cmdexec" href=#" title="{{ plugin_cmdexec_tooltip }}" data-bind="click: function() { $root.executeCommand(); }, visible: (loginState.isAdmin())">
    <span class="fa-icon">&#x{{ plugin_cmdexec_icon }};</span>
</a>
