<a id="navbar_plugin_cmdexec" href=#" title="Execute bash command" data-bind="click: function() { $root.executeCommand(); }, visible: (loginState.isAdmin())">
    <i class="fa-solid fa-terminal"></i>
</a>
